*,
*:before,
*:after {
    box-sizing: border-box;
}

:root{
    --01:#292929;
    --02:#8869bb;
    --03:#c2c0c0;
    --04:#160535;

}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--04);
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    max-width: 100vw;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    display: grid;
    gap: 0;
}

.toolbar {
    margin-bottom: 5px;

}

.tool-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 10px;
    gap: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: aliceblue;
    justify-content: space-between;
    overflow-x: auto;
    scrollbar-width: none;
    border: solid 2px var(--02);
}

.tool-list::-webkit-scrollbar {
    display: none;
}

.tool--btn {
    display: block;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tool--btn:hover {
    background-color:var(--02);
}

#output {
    height: 400px;
    padding: 1rem;
    border-radius: 5px;
    background-color: aliceblue;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: solid 2px var(--02);
}
